#question {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#question-word {
    border: 1px solid black;
    
    p, h3 {
        padding: 12px;
    }

    p {
        border-bottom: 1px solid black;
    }

    .word-tip {
        border-bottom: 0;
        border-top: 1px solid black;
    }
}

#question-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}