.answer-result {

    display: flex;
    flex-direction: column;
    gap: 24px;

    .message {
        &.correct {
            border: 1px solid #52c41a;
            p {
                color: #52c41a;
            }
        }

        &.incorrect {
            border: 1px solid #f5222d;

            p {
                color: #f5222d;
            }
            
        }

        p {
            padding: 12px;
        }
    }
}