#login {
    background-color: #e5e5e5;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    .login-input-wrapper {
        display: flex;
        flex-direction: column;
    }
}