.input {
    display: flex;
    flex-direction: column;

    input:focus + .accents-wrapper .accent-button {
        border: 1px solid #1890ff;
        border-right: 0;
        color: #1890ff;

        &:last-child {
            border-right: 1px solid #1890ff
        }
    }
}

.accents-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .accent-button {
        padding: 6px;
        border-top: 0 !important;
        border-right: 0;

        &:last-child {
            border-right: 1px solid black;
        }

        p {
            width: 100%;
            text-align: center;
        }
    }
}